/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: 'Dancing Script', cursive;
	font-family: 'Libre Baskerville', serif;
	/*font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Zilla Slab', serif;*/
}

